body{
  background-color: rgb(46, 44, 44);
}
.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  background-color: rgb(46, 44, 44);
  color: white;
  font-family: 'Roboto', sans-serif;
}
.game{
  display: flex;
  flex-direction: column;
}
.row{
  display: flex;
  gap:0.5rem;
  justify-content: center;
}
.letter{
  border: 2px solid grey;
  width:  25px;
  height: 25px;
  padding: 1rem;
  margin-bottom: 1rem;
  font-weight: bold;
}
.line{
  display: flex;
  justify-content: center;
  gap:0.5rem;
  margin: 0 1rem 0.5rem 1rem;
}
.key{
  border: 1px solid white;
  background-color: rgb(143, 140, 140);
  border-radius: 5px;
  font-weight: 500;
  padding: 0.5rem;
  cursor: pointer;
}
#correct{
  background-color: rgb(67, 127, 67);
}
#almost{
  background-color: rgb(200, 200, 35);
}
#error{
  background-color: grey;
}
#disabled{
  background-color: brown;
}

